{% extends 'public/base.html' %}
{% load static %}

{% block content %}
  <!-- 主要内容 -->
  <div class="container my-4">
    <!-- content layout -->
    <div class=" row justify-content-center">
      <!-- sidebar1 -->
      <div class="col-md-3 d-none d-md-grid">
        {% block sidebar1 %}{% endblock sidebar1 %}
      </div>
      <!-- center -->
      <div class="col-md-6">
        <div class="text-success fs-1 text-center">Hello World</div>
        <a href="fa/app_bdms/frps_GvGiZeU.toml">点击这里访问示例网站</a>
      </div>
      <!-- sidebar2 -->
      <div id="sidebar2" class="col-md-3 d-none d-md-grid">
        {% block sidebar2 %}{% endblock sidebar2 %}
      </div>
    </div>   
  </div>  
 
{% endblock content %}